

<div class="card">
    <div class="card-header">
      Itens
    </div>
    <div class="card-body">
      <h5 class="card-title">Adicionar itens a lista</h5>
      <p class="card-text"></p>
      <div class="formulario-insert container-fluid">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Item:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Tinta verde">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Descrição:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Para impressora">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Quantidade:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: 1">
        </div>
    
    </div>
      <a href="#" class="btn btn-primary">Adicionar</a>
    </div>
  </div>