
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h5> Lista de Itens </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of items">
                        <div class="row py-3">
                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                <h5 style="font-family: 'Roboto', sans-serif;">{{ item.itemNome }}</h5>
                            </div>
                            <div class="col-md-3 d-flex ">
                                <p style="font-family: 'Roboto', sans-serif;">{{ item.ItemDescricao }}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                <p style="font-family: 'Roboto', sans-serif;">Quantidade: {{ item.itemQuantidade }}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                <p style="font-family: 'Roboto', sans-serif;">{{ item.itemStatus }} </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





